<div class="row justify-content-center" id="comment-list">
  {{#each this}}
  <form class="col-sm-11 row" >
    <div class="col-sm-12">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="col-sm-12">
      {{comment_text}}
    </div>
  </form>
  {{/each}}
</div>