<section class="hero">
    <div><span>Tech Blog</span></div>
    
</section>

<form class="new-post-form row justify-content-center">
    <div class="col-sm-7 row forms">
        <div class="col-sm-12">
            <h2>Create New Post</h2>
        </div>

        <div class="col-sm-12">
            <label for="post-title" class="form-label">Title</label>
            <input type="text" name="post-title" class="form-control" />
        </div>

        <div class="col-sm-12">
            <label for="post-content" class="form-label">Content</label>
            <textarea type="text" name="post-content" class="form-control form-control-lg" rows="6"></textarea>
        </div>

        <button type="submit" class="btn col-sm-6 buttons">Create</button>
    </div>
</form>

<script src="/javascript/add-post.js"></script>