<section class="hero">
    <div><span>Tech Blog</span></div>
</section>

<ul class="post-list row justify-content-center">
  <div class="col-sm-10">
    {{#each posts as |post|}}
    <li>
      {{> post-info post }}
    </li>
    {{/each}}
  </div>
</ul>