:root {
    --primary: #dcead1;
    --secondary: rgba(93, 171, 155, 0.8);
    --gradient: linear-gradient(319deg, #92c4a0 12%, #92c59f 42%, #c9e1b8 87%);
    --hover:  rgb(86, 153, 140);
    --font: #1a655c;
    --border: rgba(136, 187, 160, 0.9);
    --comment: rgba(240, 243, 237, 0.8);
    --link: rgba(42,132,68,0.9);
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--font);
    font-family: Helvetica, Arial, sans-serif;
    background-image: var(--gradient);
    background-attachment: fixed;
    font-size: 20px;
}

a {
    color: var(--font);
}

a:hover {
    color: var(--link);
    text-decoration: none;
}

.create-post a {
    transition: all .2s ease-out;
    background-color: var(--comment);
    border-radius: 15px;
}

.create-post a:hover {
    background: var(--link);
    border-radius: 15px;
    text-shadow: none;
    color: var(--primary);
}

header nav a {
    transition: all .2s ease-out;
}

header nav a:hover {
    background: var(--hover);
    border-radius: 15px;
    text-shadow: none;
    color: var(--primary);
}


header {
    padding: 27px 3%;
    background-image: url("../assets/image/background.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    width: 100%;
}

header nav a {
    text-decoration: none;
    font-size: 30px;
}

.hero {
    padding: 40px 1%;
    background-image: url("../assets/image/background.png");
    background-size: cover;
    background-attachment: fixed;
}

.hero div {
    margin: 0 0 0 49px;
}

.hero span {
    font-size: 33px;
    background-color: var(--primary);
    padding: 10px;
    border: 3px solid var(--border);
    border-radius: 10px;
}


.post-list {
    list-style-type: none;
}


.post-list li {
    margin: 43px;
    border: 3px solid var(--border);
    border-radius: 6px;
}

.title {
    height: auto;
    background-color: var(--secondary);
}

.title a {
    margin: auto;
    font-size: 29px;
    color: var(--font);
    text-decoration: none;
}

.title a:hover {
    text-shadow: none;
    color: var(--comment);
}

.title p {
    margin: auto;
    font-size: 21px;
}

.content {
    height: auto;
    background-image: var(--gradient);
    font-size: 23px;
}

.row {
    margin: 0;
}


.create-post {
    display: flex;
    justify-content: center;
    font-size: 30px;
}


.edit-link {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    font-size: 25px;
}

.post-comment{
    text-align: left;
    font-size: 25px;
}

.login {
    margin-top: 60px;
    row-gap: 25px;
}

label {
    font-size: 24px;
}

.btn {
    background-color: #cce1ba;
    background-image: linear-gradient(45deg, #cce1ba 0%, #4bcff3 52%, #87f1b6cf 90%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
    color: var(--font);
    font-size: 20px;
}

.btn:hover {
    background-position: 1px -50px;
    color: var(--font);
}

.btn:focus {
    outline: none;
}


.forms {
    margin-top: 35px;
    row-gap: 20px;
}


.buttons {
    margin: auto;
}

.position {
    text-align: end;
    font-size: 21px;
}

#single-post {
    margin-top: 10px;
}


#single-content, #comment-list {
    row-gap: 20px;
}

#add-comment {
    margin-top: 10px;
}


#comment-list form:nth-child(even) {
    background-color: var(--comment);
    border-radius: 6px;
}

#comment-list form:nth-child(odd) {
    background-color: var(--hover);
    border-radius: 6px;
    color: var(--primary);
}

#comment-btn {
    width: 46%;    
}

#single-content div article {
    border: 3px solid var(--border);
    border-radius: 6px;
}

footer {
    margin-top: auto;
    position: inherit;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.comment-body, .comment-title {
    background-color: var(--comment);
    font-size: 20px;
}