

body {
    padding: 0;
    margin: 0;
    color: #024e76;
    font-family: Helvetica, Arial, sans-serif;
    background-color: bisque;
}

a {
    color: #024e76;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}


header {
    padding: 38px 3%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    width: 100%;
}

header nav a {
    text-decoration: none;
    font-size: 30px;
}

.hero {
    padding: 30px 1%;
    background-color: antiquewhite;
}

.hero div {
    margin: 0 0 0 49px;
}

.hero span {
    font-size: 33px;
    background-color: aquamarine;
    padding: 10px;
    border: 3px solid;
    border-radius: 10px;
    border-color: antiquewhite;
}


.post-list {
    list-style-type: none;
}


.post-list li {
    margin: 43px;
    border: 3px solid;
    border-radius: 6px;
}

.title {
    height: 6vw;
    background-color: antiquewhite;
}

.title a {
    margin: auto;
    font-size: 30px;
    color: brown;
}

.title p {
    margin: auto;
    font-size: 20px;
}

.content {
    height: 13vw;
    background-color: floralwhite;
    font-size: 20px;
}

.row {
    margin: 0;
}


.create-post {
    display: flex;
    justify-content: center;
    font-size: 30px;
}


.edit-link {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    font-size: 25px;
}

.post-comment{
    text-align: left;
    font-size: 25px;
}

.login {
    margin-top: 60px;
    row-gap: 25px;
}

label {
    font-size: 20px;
}

.btn {
    background-color: #ef95f3;
    background-image: linear-gradient(45deg, #ef95f3 0%, #4bcff3 52%, #87f1b6cf 90%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
    color: var(--darkblue);
}

.btn:hover {
    background-position: 1px -50px;
}

.btn:focus {
    outline: none;
}


.forms {
    margin-top: 35px;
    row-gap: 20px;
}


.buttons {
    margin: auto;
}

.position {
    text-align: end;
    font-size: 20px;
}

#single-post {
    margin-top: 10px;
}


#single-content {
    row-gap: 10px;
}

#add-comment {
    margin-top: 10px;
}

#comment-list {
    row-gap: 10px;
}

#comment-list form {
    border: 3px solid;
    border-radius: 5px;
    background-color: cadetblue;
}

#comment-btn {
    width: 46%;
    font-size: 20px;
}

#single-content div article {
    border: 3px solid;
    border-radius: 6px;
}